server {
    listen 80;
    location /images {
        alias /var/www/magic-serve/images;
    }

    location /static {
        alias /var/www/magic-serve/static;
    }

    location / {
        proxy_pass http://localhost:2000;
    }
}
server {
	listen 80;
	server_name http://git.syaoran.cc;
	location / {
		proxy_pass http//localhost:3000;
	}
}
